{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Historia
{% endblock title %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/mapa.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Auténtica tradición oaxaqueña</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Nuestro mezcal se propuce en la región de Oaxaca dedicada al cultivo de agave para la producción de una
              bebida tradicional digna de un paladar exigente.</p>
            <p>Desde 1950 trabajadores y maestros mezcaleros se dedican a la producción de una gran bebida espirituosa
              en
              el area de las
              valles
              de Oaxaca.
            </p>
            <!-- <p>Desde tiempos prehispánicos se conoce el proceso de destilación en diferentes partes de México. Sin
              embargo, apenas en la primera década de este siglo XXI estudios científicos confirmaron por primera vez
              que el mezcal es una bebida prehispánica.</p>
            <p>Nuestra bebida se produce a partir de la cocción, maceración, fermentación y destilación de las piñas de
              agaves que son cortados y "limpiados" de sus hojas suculentas.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/produccion.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Oaxaca encabeza los números</span>
              <span class="section-heading-lower">Producción</span>
            </h2>
            <p>En el año 2018 se envasaron en México 5.9 millones de litros de mezcal, de los cuales 2.5 millones fueron
              destinados al consumo nacional y 3.4 millones de litros al consumo extranjero.</p>
            <p>El estado de Oaxaca se ha perfilado durante los últimos años como el mayor productor de mezcal en México;
              tan solo en 2018 su producción representó el 92.3% del total nacional.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/agaves.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">La planta milagrosa</span>
              <span class="section-heading-lower">Nuestros agaves</span>
            </h2>
            <p>El mezcal se obtiene de un proceso tecnológico ancestral para obtener la bebida tan apreciada por todos
              los paladares. La fuente principal de la que se obtiene nuestro mezcal son los agaves de la región.</p>
            <p>La planta de agave ha sido ampliamente utilizada como alimento, fuentes medicinales, construcción de
              viviendas, producciónn de bebidas, en la confección de calzado a partir de sus fibras, como planta de
              ornato, entre otros.</p>
            <p>Existen diferentes especies de agave en la región que son aprovechadas para la producción de mezcal.
              Ejemplo de estas plantas son llamados agaves espadín, tobalá, tepeztate y mexicano. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}